@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.fade-enter-form,
.fade-leave-to {
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease-out;
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -ms-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
}

.navbar {
  padding-block: 2.4rem;
}

p {
  line-height: 36px;
  font-weight: 200;
}

section {
  margin-bottom: 3rem;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
}

.navbar .nav-list {
  display: flex;
  list-style: none;
  column-gap: 1.5rem;
}

.nav-list .nav-item .nav-link {
  text-decoration: none;
  color: #aaa;
  font-weight: 400;
}

.nav-list .nav-item .nav-link.active {
  color: #fff;
}

.nav-list .nav-item .nav-link:hover {
  color: #fff;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding-inline: 20px;
}

button {
  padding: 12px 16px;
  background-color: #1d1c1c;
  outline: none;
  border: 0;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  cursor: pointer;
  margin-bottom: 2rem;
}

h1 {
  margin-bottom: 1.2rem;
  font-weight: 500;
}
